*{
    margin: 0px;
    padding: 0px;
    
}




.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(30, 2, 143, 0.63);
  height: 10%;
}




.divimg{
position: relative;


 }
 
@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}
nav {
  position: absolute;
  top: -20px;
	margin: 40px auto 0;
	position: relative;
	width: 1300px;
	height: 50px;
	background-color: #000000;
	border-radius: 10px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
  margin: 10px;

}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .4s ;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 140px;
}


nav .start-home, a:nth-child(3):hover~.animation {
	width: 300px;
	left: 620px;
	background-color:rgba(30, 2, 143, 0.63);
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 300px;
	left: 340px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(1):hover~.animation {
	width: 420px;
	left: 0px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 400px;
	left: 900px;
	background-color: #0fc41e;
}

.pdiv{
position: absolute;
top: 58%;
left: 380px;
color: white;
}
.pdiv2{
  position: absolute;
  top: 64%;
  right: 380px;
  color: white;
  }
footer{
    background-color: rgba(30, 2, 143, 0.63);

}
.footerlink a{
 text-decoration-style:none ;
}